.addUserButton {
    margin: 10px 0;
}

.row {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    z-index: 100;
}

.container {
    height: auto;
    margin: 1rem 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.container::-webkit-scrollbar {
    display: none;
}

.table {
    position: relative;
    overflow: auto;
    min-width: 600px;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ddd;
}

.table thead {
    position: sticky;
    top: 42px;
    background-color: #fff;
    z-index: 2;
}

.table th,
.table td {
    padding: 0.5em;
    border: 1px solid #ddd;
}

.table th {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    background: #fff;
}

.table th:first-child {
    border-left: none;
}

.table tbody tr:hover {
    background-color: #ddd;
}

.table td {
    line-height: 1.5;
    vertical-align: top;
}
