
.header {
  position: fixed;  
  top: 0;          
  left: 0;       
  height: 50px;  
  width: 100%;    
  background-color: rgba(0,0,0,0.9); 
  z-index: 1000;    
  overflow-x: hidden; 
  transition: 0.5s; 
  display: flex;
  align-items: center;
  color: white
}

.button {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  align-items: center;
  cursor: pointer;
  font-size: 1.5em;
  color: white;
  
}

@media (max-width: 768px) {
  .button {
    display: block;
  }
}
@media (min-width: 769px) { 
  .button {
    display: none
  }
  .header h1 {
    margin-left: 50px;
  }
 }
