.container {
    column-count: 3;
    column-gap: 0;
    padding: 0.5em;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    width: 100%;

}

.container::-webkit-scrollbar {
    display: none;
}

.imageFrame {
    padding: 0.5em;
}

.imageFrame img {
    min-width: 100px;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 788px) {
    .imageFrame {
        padding: 1em;
    }
  
    .container {
        column-gap: 1em;
        padding: 1em;
        width: 90%;
    }
}


@media (min-width: 992px) { 
    .container {
        padding: 2em;
        width: 80%;
    }
    
}


@media (min-width: 1200px) { 
    .container {
        width: 70%;
    }
    }

@media (min-width: 1400px) { 
    .container {
        width: 50%;
    }
    
 }